body{
    display: flex;
    flex-direction: column;
    color: blue;
    background-color: gray;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
     border: 2px;

}

article{
    flex: 2;
    overflow-y: auto;
    font-size:large;
    
    
}